*.so
*.pyc
homeconfig/.config/awesome/freedesktop
homeconfig/.config/awesome/myrc/xdg_menu.lua
homeconfig/.config/awesome/vicious
homeconfig/.ssh/known_hosts
homeconfig/.ssh/known_hosts
homeconfig/.ssh/agent*
homeconfig/.zsh.d/S22_bookmarks
homeconfig/.vim/bundle/*
