[Unit]
Description=I3 Events listener

[Service]
EnvironmentFile=/home/Jo/.config/systemd/user/env
Restart=always
RestartSec=30
ExecStart=/usr/bin/python2 /home/Jo/mygit/source/i3events/i3events.py

[Install]
WantedBy=multi-user.target
