[Unit]
Description=urxvt daemon

[Service]
EnvironmentFile=/home/Jo/.config/systemd/user/env
ExecStart=/usr/bin/urxvtd -q 
Restart=always

[Install]
WantedBy=multi-user.target
