[Desktop Entry]
Version=1.0
Name=Clipster
Exec=clipster -d
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true

