[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gdu
Comment=Start this stuff
Exec=/usr/libexec/gvfs-gdu-volume-monitor
StartupNotify=false
Terminal=false
Hidden=false

