[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Keyboard stuff
Comment=Set keyboard layoyt
Exec=setxkbmap -option grp:alt_shift_toggle us,ar altgr-intl,
StartupNotify=false
Terminal=false
Hidden=false

