[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Parcelliete
Comment=Bleh
Exec=/usr/bin/parcellite
StartupNotify=false
Terminal=false
Hidden=false

