[Desktop Entry]
Encoding=UTF-8
Version=1.2.1
Type=Application
Name=WhatPulse
Comment=WhatPulse
Exec=/usr/bin/WhatPulse
StartupNotify=false
Terminal=false
Hidden=false

