[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xautolock
Comment=
Exec=xautolock -time 3 -locker 'xlock' -notify 5 -notifier 'notify-send Lock Locker'
StartupNotify=false
Terminal=false
Hidden=false

