[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xautolock
Comment=
Exec=xautolock -time 3 -locker 'i3lock -c 222222' -notify 10 -notifier 'notify-send Lock Locker' -corners '0-0+' -cornerdelay 1 -cornerredelay 5
StartupNotify=false
Terminal=false
Hidden=false

