[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Xset
Comment=
Exec=xset r rate 200 100 && xset m 7 2
StartupNotify=false
Terminal=false
Hidden=false

