IronMan 	-rsize=8192,wsize=8192,soft,timeo=30,rw	ironman.skynet:/home/grimpy
IronMan_smb -fstype=cifs,credentials=/etc/smb.auth,uid=grimpy,gid=grimpy  ://ironman.skynet/MediaDisk
Daredevil -fstype=cifs,credentials=/etc/smb.auth,uid=grimpy,gid=grimpy  ://192.168.1.2/downloads
usbdisk 	-rsize=8192,wsize=8192,soft,timeo=30,rw	ironman.skynet:/home/grimpy/usb
xbox    -fstype=fuse,allow_other,user=xbox:xbox curlftpfs#ftp://xbox.skynet
