[Unit]
Description=My Network
After=network.target

[Service]
ExecStart=/usr/local/bin/mynetworkconfig
Type=oneshot

[Install]
WantedBy=multi-user.target
