[color]
	ui = true
[user]
	name = Jo De Boeck
	email = deboeck.jo@gmail.com
[push]
	default = current
[pull]
    strategy = rebase
[help]
	autocorrect = 1
[alias]
    stat = status
    wipe = reset --hard HEAD
    meld = "!sh -c \"git difftool -y $1^!\""

[diff]
    tool = meld

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 274
	main-window-view = HistoryView
	file-view-vpane-position = 398
[review "review.cyanogenmod.org"]
	username = deboeck.jo

[url "git@git.aydo.com:"]
	insteadOf = https://git.aydo.com/
	insteadOf = http://git.aydo.com/

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = http://github.com/
