[color]
	ui = true
[push]
	default = current
[pull]
    strategy = rebase
[help]
	autocorrect = 1
[alias]
    stat = status
    wipe = reset --hard HEAD
    meld = "!sh -c \"git difftool -y $1^!\""

[diff]
    tool = meld

[include]
    path = ~/.config/git/gitconfig

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 274
	main-window-view = HistoryView
	file-view-vpane-position = 398
