Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

*background: #121212
*foreground: #F8F8F2
*cursorColor: red
*cursorBlink: true
*scrollBar: false
*boarderColor: red
*loginShell: true
*tintingType: true
*tinting: #ffffff
*tintColor: #FFFFFF
*color0 :  #272822
*color1 :  #f92672
*color2 :  #a6e22e
*color3 :  #f4bf75
*color4 :  #66d9ef
*color5 :  #ae81ff
*color6 :  #a1efe4
*color7 :  #f8f8f2
*color8 :  #75715e
*color9 :  #f92672
*color10 :  #a6e22e
*color11 :  #f4bf75
*color12 :  #66d9ef
*color13 :  #ae81ff
*color14 :  #a1efe4
*color15 :  #f9f8f5

*matcher.button: 3
*colorUL: #86A2BB
URxvt.url-launcher: /usr/bin/firefox
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: false
URxvt.font: xft:DejaVu Sans Mono for Powerline:size=9
URxvt.perl-ext-common: default,clipboard,keyboard-select,confirm-paste,url-select,font-size,vtwheel
URxvt.matcher.pattern.1: \\w{8}-\\w{4}-\\w{4}-\\w{4}-\\w{12}
URxvt.matcher.pattern.2: (https?|ftps?)://[^\\s]+
URxvt.keysym.C-T: perl:keyboard-select:activate
URxvt.keysym.C-U: perl:url-select:select_next
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.iso14755 : false
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.keysym.C-minus: perl:font-size:decrease
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.shading:    20
URxvt.transparent:false
URxvt.cutchars:'"'&()*,;<=>?@[]^{|}
URxvt.termName: rxvt-unicode-256color
URxvt.urgentOnBell: True
URxvt.saveLines: 10000
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

XTerm*faceName: xft:DejaVu Sans Mono for Powerline:size=9
